html {
    font-size: 1px;
}

body {
    margin: 0 auto;
    background: wheat;
    overflow-x: hidden;
}

h1 {
    position: relative;
    margin: 200rem auto;
    text-align: center;
}

.letter {
    font-size: 160rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.letter {
    transform-style: preserve-3d;
    opacity: 0;
    animation: rotate 8s ease-in 1s 1 normal forwards;
    display: inline-block;
    color: black;
}

.letter:nth-child(1) {
    animation-delay: 1s;
    color: red;
}

.letter:nth-child(2) {
    animation-delay: 1.5s;
    color: orange;
}

.letter:nth-child(3) {
    animation-delay: 2s;
    color: yellow;
}

.letter:nth-child(4) {
    animation-delay: 2.5s;
    color: green;
}

.letter:nth-child(5) {
    animation-delay: 3s;
    color: blue;
}

.letter:nth-child(6) {
    animation-delay: 3.5s;
    color: darkblue;
}

.letter:nth-child(7) {
    animation-delay: 4s;
    color: purple;
}

.cat{
    position: absolute;
    width: 600rem;
    top: 180rem;
    opacity: 0;
    animation: line 10s ease-in 1s 1 normal;
    transform: translate(-50%, 0);
}

.cat img{
    width: 100%;
}

@keyframes rotate {
    0% {
        transform: translateY(-90%) rotate(45deg);
        opacity: 0;
    }

    10% {
        transform: rotate(145deg);
        opacity: 1;
    }

    20% {
        transform: translateY(-60%) rotate(245deg);
    }

    30% {
        transform: rotate(345deg);
    }

    40% {
        transform: rotate(75deg);
    }
    
    50% {
        transform: rotate(270deg);
        opacity: 0;
    }

    80%{
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes line {
    0%{
        opacity: 0;
    }
    30%{
        left: 0;
        opacity: 0;
    }
    40%{
        opacity: .5;
        
    }
    50%{
        opacity: 1;
    }

    100%{
        left: 100%;
        opacity: 1;
    }
}